@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
body{
margin:0;
padding:0;
width:100%;
height:100vh;

background-image:url('img.jpg');
display:flex;
justify-content:center;
align-items:center;

}

#bgVideo {
width: 100vw;
height: 100vh;
object-fit:cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.form{
transform:scale(0.85);
position:absolute;
z-index:5;
height:270px;
width:350px;
border:1px solid white;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
border-radius:30px;
gap:10px;
}

.form input{
border:none;
top:-10px;
position:relative;
left:25px;
height:50px;
width:300px;
padding:0px 10px;

border-bottom:1px solid white;

margin:0;
background:transparent;
outline:none;
z-index:10;
color:white;
}
.form label{
color:white;
position:relative;
top:-45px;
left:35px;
z-index:9;
font-size:15px;
font-family:Arial;
transition:0.5s ease;
}

input:focus + label,
input:valid + label {
top:-79px;
color:cyan;
}

button{
height:35px;
width:100px;
position:absolute;
left:35%;
outline:none;
border:1px solid white;
border-radius:10px;
background:transparent;
color:white;
cursor:pointer;
font-size:13px;
transition:0.5s ease;
}

button:hover{
border-color:cyan;
box-shadow:0 0 5px cyan;
}


.container{
display:flex;
justify-content:center;
align-items:center;
width:600px;
height:800px;
display:flex;
flex-direction:column;
border-radius:15%;
justify-content:center;
align-items:center;
opacity:0}

#countdownE{
position:relative;
top:-25px;
z-index:4;
}

#text h1{
position:relative;
z-index:1;
color:red;
font-size:200px;
font-family:'Ephesis',Arial;
text-shadow:0px 0px 21px red;
}

h1,h2{
margin:0;}

#countdownE h1{
color:yellow;
font-size:200px;
font-family:Oswald, arial;
text-shadow:0px 0px 15px yellow;
transform:scale(1.5,2.5);

display: inline-block;
}

#time h2{
color:white;
font-size:50px;
font-family:'Oswald',Arial;
display:inline-block;
transform:scalex(1.15);
position:relative;
top:40px;
}

#time{
top:1vh;
position:relative;
}


.container{
transform:scale(0.5);
}

.support{
position:absolute;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
align-self:flex-end;
}


.support h2{
color:white;
font-size:13px;
font-family:Arial;
font-weight:200;
text-shadow:0 0 1.5px white;
}




