@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
body{
margin:0;
padding:0;
width:100%;
height:100vh;

background-image:url('img.jpg');
display:flex;
justify-content:center;
align-items:center;

}
/*
.form{
opacit:100;
}


.form{
position:absolute;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:3;

padding:30px 10px;
border-radius:20px;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
}

.form #text{

font-size:50px;
color:white;
font-family:'Oswald',Arial;
}

input{
padding:1px;
margin:5px;
border-radius:20px;
font-size:50px;
font-family:Arial;
background-color:white;
}




*/


.container{
display:flex;
justify-content:center;
align-items:center;
width:600px;
height:800px;
display:flex;
flex-direction:column;
border-radius:15%;
justify-content:center;
align-items:center;
opacity:1;
}

#countdownE{
position:relative;
top:-25px;
z-index:0;
}

#text h1{
position:relative;
z-index:1;
color:red;
font-size:200px;
font-family:'Ephesis',Arial;
text-shadow:0px 0px 21px red;
}

h1,h2{
margin:0;}

#countdownE h1{
color:yellow;
font-size:200px;
font-family:Oswald, arial;
text-shadow:0px 0px 15px yellow;
transform:scale(1.5,2.5);

display: inline-block;
}

#time h2{
color:white;
font-size:50px;
font-family:'Oswald',Arial;
display:inline-block;
transform:scalex(1.15);
position:relative;
top:40px;
}

#time{
top:1vh;
position:relative;
}


.container{
transform:scale(0.5);
}



